{% extends 'layout.twig.html' %}

{% block navitems %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('urls.index') }}">Сайты</a>
    </li>
{% endblock %}

{% block body %}
<h1>Сайт: {{ url['name'] }}</h1>
            <div class="table-responsive">
            <table class="table table-hover table-bordered text-nowrap" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ url['id'] }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ url['name'] }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ url['created_at'] }}</td>
                    </tr>
            </tbody>
            </table>
            </div>

            <h2 class="mt-5 mb-3">Проверки</h2>
            <form method="post" action="{{ url_for('checks.store', {'id' : url['id']}) }}" class="mb-3">
                <input type="submit" class="btn btn-primary" value="Запустить проверку">
            </form>
            <table class="table table-hover table-bordered" data-test="checks">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Дата создания</th>
                    </tr>
                    
                    {% for check in checks %}
                    <tr>
                        <td>{{ check['id'] }}</td>
                        <td>{{ check['status_code'] }}</td>
                        <td>{{ check['h1'] }}</td>
                        <td>{{ check['title'] }}</td>
                        <td>{{ check['description'] }}</td>
                        <td>{{ check['created_at'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}